ipykernel
ipywidgets

# tqdm
# pandas
# numpy
# matplotlib
# seaborn
# python-dotenv
# python-box

# # torchvision
# # open_clip_torch
# # sentencepiece
# # langchain-community
# # faiss-cpu

torch
transformers
accelerate
bitsandbytes
llava-torch